<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="http://127.0.0.1:5000/volver">Nick</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="http://127.0.0.1:5000/volver">INICIO</a></li>
                    <li><a href="http://127.0.0.1:5000/sobremi">SOBRE MI</a></li>
                    <li><a href="http://127.0.0.1:5000/skills">SKILLS</a></li>
                    <li><a href="http://127.0.0.1:5000/contacto">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Skills</h2>
            <div class="fila">
                <div class="col">
                    <h3>Skills tecnica</h3>
                    <div class="skill">
                        <span>Javascript</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>0%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>35%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Photoshop</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Python</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>10%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Figma</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>25%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3>Profesional Skills</h3>
                    <div class="skill">
                        <span>Comunicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trabajo en Equipo</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Creatividad</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Dedicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>