<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="http://127.0.0.1:5000/volver">Nick</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="http://127.0.0.1:5000/volver">INICIO</a></li>
                    <li><a href="http://127.0.0.1:5000/sobremi">SOBRE MI</a></li>
                    <li><a href="http://127.0.0.1:5000/skills">SKILLS</a></li>
                    <li><a href="http://127.0.0.1:5000/contacto">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>Sobre Mí</h2>
            <p><span>Hola, soy Jose Jorge.</span> Vivo en valledupar, amante a todo lo relacionado con la tecnologia y actualmente estudiando la carrera de analisis y desarrollo de software en el servicio nacional de aprendizaje (SENA)</p>

            <div class="fila">
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                        <li>
                            <strong>Cumpleaños</strong>
                            19-09-2005
                        </li>
                        <li>
                            <strong>Teléfono</strong>
                            3009480892
                        </li>
                        <li>
                            <strong>Email</strong>
                            josecuadrado.sena@gmail.com
                        </li>
                        <li>
                            <strong>Dirección</strong>
                            Calle 15 N 19 E 91, La popa
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSICA</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAJAR</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-camera"></i>
                            <span>FOTOS</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
</body>
</html>